---
import IndexLayout from "@/layouts/IndexLayout.astro";
import About from "@/components/widgets/About.astro";
import PostList from "@/components/widgets/PostList.astro";
import { themeConfig } from "@/config";
import { getSortedFilteredPosts } from "@/utils/draft";
import SocialIcons from '@/components/ui/SocialIcons.astro'

const posts = await getSortedFilteredPosts();
---

<IndexLayout
    title={themeConfig.site.title}
    description={themeConfig.site.description}
>
    <About />
    <SocialIcons twitter="json_yim" linkedin="jason-yim-92173b97" github="jasonkyuyim" scholar="8wDe9NAAAAAJ" />
    <main>
        <PostList posts={posts} />
    </main>
</IndexLayout>
