---
import IndexLayout from "@/layouts/IndexLayout.astro";
import { themeConfig } from "@/config";
import PublicationEntry from "@/components/widgets/PublicationEntry.astro";
import codesignMp4 from "@/media/codesign.mp4";
import framediffMp4 from "@/media/framediff.mp4";
import frameflowMp4 from "@/media/frameflow.mp4";
import octaneMp4 from "@/media/octane_s.mp4";
import ggsPng from "@/media/ggs.png";
import afmPng from "@/media/afm.png";
import rfdiffusionMp4 from "@/media/rfdiff.mp4";
import rfdiffusion2Mp4 from "@/media/rfdiff2.mp4";
import smcdiffMp4 from "@/media/smcdiff.mp4";
import proteinaPng from "@/media/proteina.png";
import lsdPng from "@/media/lsd.png";
import bioemuMp4 from "@/media/bioemu.mp4";
import metalPng from "@/media/metallo.jpg";
import generatorPng from "@/media/generator.png";
---

<IndexLayout
    title={`Publications - ${themeConfig.site.title}`}
    description={themeConfig.site.description}
>
    <p>
        These are selected publications. For a full list of my publications, see my
        <a
            href="https://scholar.google.com/citations?user=8wDe9NAAAAAJ"
            target="_blank"
            rel="noopener noreferrer"
        >
            Google Scholar profile
        </a>
        .
        <br/>
        * denotes equal contribution.
    </p>

    <section class="pub-section">
        <h1>Machine learning</h1>
        <PublicationEntry
            media={{ src: codesignMp4, alt: "Protein co-design visualization", type: "video" }}
            title="Generative Flows on Discrete State-Spaces: Enabling Multimodal Flows with Applications to Protein Co-Design"
            authors="Andrew Campbell*, Jason Yim*, Regina Barzilay, Tom Rainforth, Tommi Jaakkola"
            venue="International Conference of Machine Learning 2024"
            descriptionEntry="codesign"
            description=""
            links={[
                {
                    href: "https://arxiv.org/abs/2402.04997",
                    label: "Paper",
                },
                {
                    href: "https://www.youtube.com/watch?v=-L9ekyTI21k",
                    label: "Talk",
                },
                {
                    href: "https://github.com/jasonkyuyim/multiflow",
                    label: "Multimodal Flow Code",
                },
                {
                    href: "https://github.com/andrew-cr/discrete_flow_models",
                    label: "Discrete Flow Code",
                },
            ]}
        />
        <PublicationEntry
            media={{ src: framediffMp4, alt: "Frame-diff visualization", type: "video" }}
            title="SE (3) diffusion model with application to protein backbone generation"
            authors="Jason Yim*, Brian L Trippe*, Valentin De Bortoli*, Emile Mathieu*, Arnaud Doucet, Regina Barzilay, and Tommi Jaakkola"
            venue="International Conference of Machine Learning 2023"
            descriptionEntry="framediff"
            description=""
            links={[
                {
                    href: "https://arxiv.org/abs/2302.02277",
                    label: "Paper",
                },
                {
                    href: "https://news.mit.edu/2023/generative-ai-imagines-new-protein-structures-0712",
                    label: "MIT News",
                },
                {
                    href: "https://www.youtube.com/watch?v=IXL4WCLFeZM",
                    label: "Talk",
                },
                {
                    href: "https://github.com/jasonkyuyim/se3_diffusion",
                    label: "Code",
                },
            ]}
        />
        <PublicationEntry
            media={{ src: generatorPng.src, alt: "Generator visualization" }}
            title="Generator Matching: Generative modeling with arbitrary Markov processes"
            authors="Peter Holderrieth, Marton Havasi, Jason Yim, Neta Shaul, Itai Gat, Tommi Jaakkola, Brian Karrer, Ricky T. Q. Chen, Yaron Lipman"
            venue="International Conference on Learning Representations 2025 (Oral)"
            descriptionEntry="generator"
            description=""
            links={[
                {
                    href: "https://arxiv.org/abs/2410.20587",
                    label: "Paper",
                },
            ]}
        />
        <PublicationEntry
            media={{ src: frameflowMp4, alt: "Frame-flow visualization", type: "video" }}
            title="Improved motif-scaffolding with SE (3) flow matching"
            authors="Jason Yim, Andrew Campbell, Emile Mathieu, Andrew YK Foong, Michael Gastegger, José Jiménez-Luna, Sarah Lewis, Victor Garcia Satorras, Bastiaan S Veeling, Frank Noé, and  others"
            venue="Transactions on Machine Learning Research 2024"
            descriptionEntry="frameflow"
            description=""
            links={[
                {
                    href: "https://arxiv.org/abs/2310.05297",
                    label: "Paper",
                },
                {
                    href: "https://github.com/microsoft/protein-frame-flow",
                    label: "Code",
                },
            ]}
        />
        <PublicationEntry
            media={{ src: lsdPng.src, alt: "LSD visualization" }}
            title="Hierarchical protein backbone generation with latent and structure diffusion"
            authors="Jason Yim, Marouane Jaakik, Ge Liu, Jacob Gershon, Karsten Kreis, David Baker, Regina Barzilay, Tommi Jaakkola"
            venue="ICLR 2025 Workshop on Generative and Experimental Perspectives for Biomolecular Design"
            descriptionEntry="lsd"
            description=""
            links={[
                {
                    href: "https://arxiv.org/abs/2504.09374",
                    label: "Paper",
                },
            ]}
        />
        <PublicationEntry
            media={{
                src: proteinaPng.src,
                alt: "Proteina visualization",
            }}
            title="Proteína: Scaling Flow-based Protein Structure Generative Models"
            authors="Tomas Geffner*, Kieran Didi*, Zuobai Zhang*, Danny Reidenbach, Zhonglin Cao, Jason Yim, Mario Geiger, Christian Dallago, Emine Kucukbenli, Arash Vahdat, Karsten Kreis"
            venue="International Conference on Learning Representations 2025 (Oral)"
            descriptionEntry="proteina"
            description=""
            links={[
                {
                    href: "https://arxiv.org/abs/2503.00710",
                    label: "Paper",
                },
                {
                    href: "https://research.nvidia.com/labs/genair/proteina/",
                    label: "Project page",
                },
                {
                    href: "https://github.com/NVIDIA-Digital-Bio/proteina/",
                    label: "Code",
                },
            ]}
        />
        <PublicationEntry
            media={{ src: ggsPng.src, alt: "GGS visualization" }}
            title="Improving protein optimization with smoothed fitness landscapes"
            authors="Andrew Kirjner*, Jason Yim*, Raman Samusevich, Shahar Bracha, Tommi Jaakkola, Regina Barzilay, and Ila Fiete"
            venue="International Conference on Learning Representations 2024"
            descriptionEntry="ggs"
            description=""
            links={[
                {
                    href: "https://arxiv.org/abs/2307.00494",
                    label: "Paper",
                },
                {
                    href: "https://news.mit.edu/2024/new-computational-technique-could-help-engineer-useful-proteins-0403",
                    label: "MIT News",
                },
                {
                    href: "https://github.com/kirjner/GGS",
                    label: "Code",
                },
            ]}
        />
        <PublicationEntry
            media={{ src: smcdiffMp4, alt: "ProtDiff visualization", type: "video" }}
            title="Diffusion probabilistic modeling of protein backbones in 3D for the motif-scaffolding problem"
            authors="Brian L. Trippe*, Jason Yim*, Doug Tischer, David Baker, Tamara Broderick, Regina Barzilay, and Tommi Jaakkola"
            venue="International Conference on Learning Representations 2023"
            descriptionEntry="smcdiff"
            description=""
            links={[
                {
                    href: "https://arxiv.org/abs/2206.04119",
                    label: "Paper",
                },
                {
                    href: "https://www.youtube.com/watch?v=UymQ-iE23MY",
                    label: "Talk",
                },
                {
                    href: "https://github.com/blt2114/ProtDiff_SMCDiff",
                    label: "Code",
                },
            ]}
        />
    </section>

    <section class="pub-section">
        <h1>Science</h1>
        <PublicationEntry
            media={{ src: rfdiffusionMp4, alt: "RFdiffusion", type: "video" }}
            title="De novo design of protein structure and function with RFdiffusion"
            authors="Joseph L. Watson*, David Juergens*, Nathaniel R. Bennett*, Brian L. Trippe*, Jason Yim*, Helen E. Eisenach*, Woody Ahern*, Andrew J. Borst, Robert J. Ragotte, Lukas F. Milles, Basile I. M. Wicky, Nikita Hanikel, Samuel J. Pellock, Alexis Courbet, William Sheffler, Jue Wang, Preetham Venkatesh, Isaac Sappington, Susana Vázquez Torres, Anna Lauko, Valentin De Bortoli, Emile Mathieu, Regina Barzilay, Tommi S. Jaakkola, Frank DiMaio, Minkyung Baek, and David Baker"
            venue="Nature 2023"
            descriptionEntry="rfdiffusion"
            description=""
            links={[
                {
                    href: "https://www.nature.com/articles/s41586-023-06415-8",
                    label: "Paper",
                },
                {
                    href: "https://github.com/deepmind/rfdiffusion",
                    label: "Code",
                },
                {
                    href: "https://www.nytimes.com/2023/01/09/science/artificial-intelligence-proteins.html",
                    label: "NY Times Article",
                },
                {
                    href: "https://www.economist.com/science-and-technology/2025/07/02/ai-is-helping-to-design-proteins-from-scratch",
                    label: "Economist Article",
                },
            ]}
        />
        <PublicationEntry
            media={{ src: bioemuMp4, alt: "BioEmu", type: "video"}}
            title="Scalable emulation of protein equilibrium ensembles with generative deep learning"
            authors="Sarah Lewis, Tim Hempel, Jose Jimenez-Luna, Michael Gastegger, Yu Xie, Andrew Y. K. Foong, Victor Garcia Satorras, Osama Abdin, Bastiaan S. Veeling, Iryna Zaporozhets, Yaoyi Chen, Soojung Yang, Arne Schneuing, Jigyasa Nigam, Federico Barbero, Vincent Stimper, Andrew Campbell, Jason Yim, Marten Lienen, Yu Shi, Shuxin Zheng, Hannes Schulz, Usman Munir, Cecilia Clementi, Frank Noe"
            venue="Science 2025"
            descriptionEntry="bioemu"
            description=""
            links={[
                {
                    href: "https://www.science.org/doi/10.1126/science.adv9817",
                    label: "Paper",
                },
                {
                    href: "https://www.science.org/doi/10.1126/science.adv9817",
                    label: "Code",
                },
                {
                    href: "https://www.microsoft.com/en-us/research/blog/exploring-the-structural-changes-driving-protein-function-with-bioemu-1/",
                    label: "Microsoft Research Blog",
                },
            ]}
        />
        <PublicationEntry
            media={{ src: rfdiffusion2Mp4, alt: "RFdiffusion2", type: "video" }}
            title="Atom-level enzyme active site scaffolding using RFdiffusion2"
            authors="Woody Ahern*, Jason Yim*, Doug Tischer*, Saman Salike, Seth M. Woodbury, Donghyo Kim, Indrek Kalvet, Yakov Kipnis, Brian Coventry, Han Raut Altae-Tran, Magnus S. Bauer, Regina Barzilay, Tommi S. Jaakkola, Rohith Krishna, David Baker"
            venue="Nature Methods 2025"
            descriptionEntry="rfdiffusion2"
            description=""
            links={[
                {
                    href: "https://www.nature.com/articles/s41592-025-02975-x",
                    label: "Paper",
                },
                {
                    href: "https://github.com/RosettaCommons/RFdiffusion2",
                    label: "Code",
                },
                {
                    href: "https://www.ipd.uw.edu/2025/04/introducing-rfdiffusion2/",
                    label: "Institute for Protein Design Blog",
                },
            ]}
        />
        <PublicationEntry
            media={{ src: metalPng.src, alt: "Metallohydrolase" }}
            title="Computational design of metallohydrolases"
            authors="Donghyo Kim, Seth M. Woodbury, Woody Ahern, Doug Tischer, Nikita Hanikel, Saman Salike, Jason Yim, Samuel J. Pellock, Anna Lauko, Indrek Kalvet, Donald Hilvert, David Baker"
            venue="Nature 2025"
            descriptionEntry="metallo"
            description=""
            links={[
                {
                    href: "https://www.nature.com/articles/s41586-025-09746-w",
                    label: "Paper",
                },
                {
                    href: "https://www.ipd.uw.edu/2025/12/rfdiffusion2-efficient-enzymes-from-prompts/",
                    label: "Institute for Protein Design Blog",
                },
            ]}
        />
        <PublicationEntry
            media={{ src: afmPng.src, alt: "AlphaFold-multimer visualization" }}
            title="Protein complex prediction with AlphaFold-Multimer"
            authors="Richard Evans, Michael O’Neill, Alexander Pritzel, Natasha Antropova, Andrew Senior, Tim Green, Augustin Žı́dek, Russ Bates, Sam Blackwell, Jason Yim, Olaf Ronneberger, Sebastian Bodenstein, Michal Zielinski, Alex Bridgland, Anna Potapenko, Andrew Cowie, Kathryn Tunyasuvunakool, Rishub Jain, Ellen Clancy, Pushmeet Kohli, John Jumper, and Demis Hassabis"
            venue="bioRxiv 2022"
            descriptionEntry="alphafold_multimer"
            description=""
            links={[
                {
                    href: "https://www.biorxiv.org/content/10.1101/2021.10.04.463034v2",
                    label: "Paper",
                },
                {
                    href: "https://github.com/deepmind/alphafold",
                    label: "Code",
                },
            ]}
        />
        <PublicationEntry
            media={{ src: octaneMp4, alt: "Octane visualization", type: "video" }}
            title="Predicting conversion to wet age-related macular degeneration using deep learning"
            authors="Jason Yim*, Reena Chopra*, Terry Spitz, Jim Winkens, Annette Obika, Christopher Kelly, Harry Askham, Marko Lukic, Josef Huemer, Katrin Fasler, and  others"
            venue="Nature Medicine 2020"
            descriptionEntry="octane_s"
            description=""
            links={[
                {
                    href: "https://www.nature.com/articles/s41591-020-0867-7",
                    label: "Paper",
                },
                {
                    href: "https://github.com/google-health/imaging-research",
                    label: "Code",
                },
                {
                    href: "https://deepmind.google/blog/using-ai-to-predict-retinal-disease-progression/",
                    label: "DeepMind Blog",
                }
            ]}
        />
    </section>
    
</IndexLayout>

<style>
    .pubs-title {
        font-size: clamp(2rem, 3vw, 2.5rem);
        margin-bottom: 1.5rem;
    }

    .pub-section + .pub-section {
        margin-top: 2rem;
    }

    .pub-section h2 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    .pub-placeholder {
        color: var(--text-secondary);
        margin: 0;
    }

    @media (max-width: 640px) {
        /* layout handled inside PublicationEntry */
    }
</style>
